@tailwind base;
@tailwind components;
@tailwind utilities;

/* * { box-shadow:inset 0px 0px 0px 1px rgb(251, 0, 255); } */

body {
  @apply 
    font-jetBrainsMono
    font-normal
    m-0 
    bg-stone-500
  ;
  font-optical-sizing: auto;
}

a {
  @apply text-stone-600;
  /* font-weight: bold; */
}

a:hover {
  @apply cursor-pointer;
}

a:hover,
a:focus {
  @apply opacity-80;
}

@layer components {
  .nav-global {
    @apply 
      flex 
      flex-row 
      justify-center 
      content-start
      py-1.5 
      gap-4
      cursor-default 
      text-center 
      text-lg
      text-neutral-300
      bg-orange-50 
      shadow-md
    ;
  }
}
